body{
	padding: 0;
	margin: 0;
}


.bg-1{
	background-color: black;
    text-align: center;
    color: white;
}
h2{
	text-align: center;
	font-size: 50px;
	color: salmon;
}
p{
	color:salmon; 
	text-align: center;
	size: 200px;
	padding: 0 20px;

}
img{
	/*background-color: black;*/
	padding: 2% 45%;
	display: flex;


}
.bg-2{
	background-image: url("images/back.png");
	text-align: center;
	color: black;
	background-color: gray;
	
}
.col{
	width: 31.30%;
	float: left;
	margin: 1%;
	height: 200px;
	background-color: violet;
	color: black;
}
.col.txt{
	color: black;
}
.work{
	text-align: center;
	color: white;
	padding: 25%;
	background-color: black;
}
.menu .ul .li{
	
	/*background-color: lightpink;*/
	color: white;

}

li,a{
	text-align: center;
	float: left;
	padding: 0 10px;
	color: white;
	text-decoration: none;
}
button{
	background-color: violet;
	
	/*margin-right: 20%;*/
	text-align: center;
}
.sqr.col{
	background-color: violet;
}
.photography .img{
	background-color: white;
	color: red;
	width: 100%;
}
.photography.img{
	float: left;
	display: flex;
  .last{
  	background-color: black;
  }
  .btn{
  	padding: 20px 20px;
  }